<div class="col-md-3 mb-3 mt-1">
        <div class="card">
                <div class="card-body">
                        <div class="h2">
                            <!-- Имя автора -->
                            {{ author.first_name }}
                        </div>
                        <div class="h3 text-muted">
                             <!-- username автора -->
                             {{ author }}
                        </div>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                                <div class="h6 text-muted">
                                Подписчиков: {{ following }} <br/>
                                Подписан: {{ follower }}
                                </div>
                        </li>
                        <li class="list-group-item">
                                <div class="h6 text-muted">
                                    <!-- Количество записей -->
                                    Записей: {{ post_cnt }}
                                </div>
                        </li>
                        <li class="list-group-item">
                            {% if follow %}
                                <a class="btn btn-lg btn-light" 
                                        href="{% url 'profile_unfollow' author %}" role="button"> 
                                        Отписаться 
                                </a>
                            {% elif author == user %}
                                <a class="btn btn-lg btn-primary disabled" 
                                        href="{% url 'profile_follow' author %}" role="button">
                                        Подписаться 
                                </a>
                            {% else %}
                                <a class="btn btn-lg btn-primary" 
                                        href="{% url 'profile_follow' author %}" role="button">
                                        Подписаться 
                                </a>
                            {% endif %}
                        </li>
                </ul>
        </div>    
</div>