{% extends "base.html" %}

{% block title %}Лента{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}

{% block content %}

<main role="main" class="container">
        <div class="row">

                {% include 'includes/profile_info.html' %}

                <div class="col-md-9">
                        <!-- Пост -->
                        <div>
                                {% include 'includes/post_item.html' %}
                        </div>
                        <div>
                                {% include 'includes/message.html' %}
                        </div>
                        <div>
                                {% include "includes/comments.html" %}
                        </div>
                </div>
        </div>
</main>

{% endblock %}