{% extends "base.html" %}

{% block title %}Лента{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}

{% block content %}

<main role="main" class="container">
        <div class="row">
                
                {% include 'profile_info.html' %}

                <div class="col-md-9">
                <!-- Пост -->  
                        <div>
                                {% include 'post_item.html' %}
                        </div>
                        <div>
                                {% include "comments.html" %}
                        </div>
                </div>
        </div>
</main>

{% endblock %}